  <div class="container">
    <footer class="border-top mt-4 mb-4">
      <div class="row justify-content-center">
        <div class="col-md-3 p-4 text-center">
          <a href="https://livehilversum.nl/"><img src="{{ '/assets/img/livehilversum.png' | relative_url }}" class="img-fluid" alt="We live Hilversum"></a>
        </div>
        <div class="col-md-3 p-4 text-center">
          <a href="https://www.beeldengeluid.nl/"><img src="{{ '/assets/img/Beeld-en-Geluid_Rood-RGB-e00034.png' | relative_url }}" class="img-fluid mt-3" alt="Beeld en Geluid"></a>
        </div>
      </div>
    </footer>
  </div>
  <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
