  <div class="container">
    <footer class="border-top mt-4 mb-4">
      <div class="text-center">
        <a href="https://www.beeldengeluid.nl/"><img src="{{ '/assets/img/B&G_logo_RGB_liggend_RL.png' | relative_url }}" class="img-fluid mt-4" alt="Beeld & Geluid" style="max-width:160px"></a>
      </div>
    </footer>
  </div>
  <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
