  <div class="container">
    <footer class="border-top mt-4 mb-4">
      <div class="row justify-content-center">
        <div class="col-md-3 p-4 text-center">
          <a href="https://www.avrotros.nl/"><img src="{{ '/assets/img/avrotros.png' | relative_url }}" class="img-fluid" alt="AVROTROS"></a>
        </div>
        <div class="col-md-3 p-4 text-center">
          <a href="https://www.beeldengeluid.nl/"><img src="{{ '/assets/img/beeldengeluid.png' | relative_url }}" class="img-fluid mt-4" alt="Beeld & Geluid"></a>
        </div>
      </div>
    </footer>
  </div>
  <script src="{{ '/assets/js/jquery.slim.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
</body>
</html>
