<form action="https://formspree.io/secretariaat@beeldengeluid.nl" method="POST">
  <input type="hidden" name="_subject" value="Aanmeldformulier Philip Bloemendal Prijs" />
  <input type="hidden" name="_language" value="nl" />
  <input type="hidden" name="_next" value="https://www.bloemendal.info/bedankt" />
  <div class="form-group">
    <label for="Naam">Naam *</label>
    <input type="text" class="form-control" id="Naam" name="Naam" required>
  </div>
  <div class="form-group">
    <label for="Adres">Adres *</label>
    <input type="text" class="form-control" id="Adres" name="Adres" required>
  </div>
  <div class="form-group">
    <label for="Woonplaats">Woonplaats *</label>
    <input type="text" class="form-control" id="Woonplaats" name="Woonplaats" required>
  </div>
  <div class="form-group">
    <label for="Postcode">Postcode *</label>
    <input type="text" class="form-control" id="Postcode" name="Postcode" required>
  </div>
  <div class="form-group">
    <label for="Telefoon">Telefoon *</label>
    <input type="text" class="form-control" id="Telefoon" name="Telefoon" required>
  </div>
  <div class="form-group">
    <label for="E-mail">E-mail *</label>
    <input type="email" class="form-control" id="E-mail" name="E-mail" required>
  </div>
  <div class="form-group">
    <label for="Geboortedatum">Geboortedatum *</label>
    <input type="text" class="form-control" id="Geboortedatum" name="Geboortedatum" required>
  </div>
  <div class="form-group">
    <label for="Programma">Programma *</label>
    <input type="text" class="form-control" id="Programma" name="Programma" required>
  </div>
  <div class="form-group">
    <label for="Werkgever">Contactpersoon en contactgegevens werkgever/opdrachtgever *</label>
    <input type="text" class="form-control" id="Werkgever" name="Contactpersoon en contactgegevens werkgever/opdrachtgever" required>
  </div>
  <div class="form-group">
    <label for="Jaren">Aantal jaren in vakgebied *</label>
    <input type="text" class="form-control" id="Jaren" name="Aantal jaren in vakgebied" required>
  </div>
  <div class="form-group">
    <label for="Aangemeld">Aangemeld door *</label>
    <input type="text" class="form-control" id="Aangemeld" name="Aangemeld door" required>
  </div>
  <div class="form-group">
    <label for="Motivatie">Korte motivatie *</label>
    <textarea class="form-control" id="Motivatie" name="Korte motivatie" rows="3" required></textarea>
  </div>
  <div class="form-group">
    <label for="Kanaal">Link naar Vimeo/YouTube-kanaal (wanneer van toepassing)</label>
    <input type="text" class="form-control" id="Kanaal" name="Link naar Vimeo/YouTube-kanaal">
  </div>
  <input type="submit" class="btn btn-primary btn-lg text-white" value="Verstuur" />
</form>
