<!doctype html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Phillip Bloemendal Prijs: {{ page.title }}</title>
    <link href="{{ '/assets/css/screen.css' | relative_url }}" rel="stylesheet">
  </head>
  <body>

  <header>

    <nav class="navbar navbar-expand-md navbar-light bg-transparent">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="{{ '/assets/img/Twitter_Logo_Blue.png' | relative_url }}" height="26" width="26" class="d-inline-block align-top" alt="">
          @bloemendalprijs
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url }}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ '/nieuws' | relative_url }}">Nieuws</a></li>
            <li class="nav-item"><a class="nav-link" href="#">De Prijs</a></li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Procedure Prijs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Aanmelden</a>
                <a class="dropdown-item" href="#">De Prijs</a>
                <a class="dropdown-item" href="#">Criteria</a>
                <a class="dropdown-item" href="#">Reglement</a>
                <a class="dropdown-item" href="#">Jurering</a>
                <a class="dropdown-item" href="#">Speech Trumpet</a>
              </div>
            </li> -->
            <li class="nav-item"><a class="nav-link" href="#">Winnaars</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ '/philip-bloemendal' | relative_url }}">Philip Bloemendal</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ '/de-stichting' | relative_url }}">De Stichting</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="p-4 mb-4 rounded" style="background-image: url('{{ page.background_image }}'); background-repeat: no-repeat; background-size: cover">
        <img src="/assets/img/logo.png" alt="De Phillip Bloemendal Prijs stimuleert jong journalistiek presentatietalent in de media.">
        <!-- <br>
        <h1 class="text-light font-weight-bold" style="text-shadow: 2px 2px 2px #000;">Phillip Bloemendal Prijs</h1>
        <p class="lead text-light" style="text-shadow: 2px 2px 2px #000;">De Phillip Bloemendal Prijs stimuleert jong journalistiek presentatietalent in de media.</p> -->
      </div>
    </div>

  </header>
